<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>密码</th>
        <th>创建时间</th>
        <th>更新时间</th>
    </tr>
    {foreach $content as $key => $value}
    <tr>
        <td> {$value.id} </td>
        <td> {$value.user} </td>
        <td> {$value.email} </td>
        <td> {$value.password} </td>
        <td> {$value.create_time} </td>
        <td> {$smarty.now|date_format:'Y/m/d H:i:s'} </td>
    </tr>
    {/foreach}
</table>
</body>
</html>