<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
</head>
<body>

<table border="1px" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>密码</th>
        <th>创建时间</th>
        <th>更新时间</th>
    </tr>
    {nocache}
        {foreach $content as $key => $value}

            <tr>
            <td align="center"> {$value.id} </td>
            <td align="center"> {$value.user} </td>
            <td align="center"> {$value.email} </td>
            <td align="center"> {$value.password} </td>
            <td align="center"> {$value.create_time} </td>
            <td align="center"> {$smarty.now|date_format:'Y/m/d H:i:s'} </td>
            </tr>

        {/foreach}
    {/nocache}
</table>

</body>
</html>